$couleurprinc: var(--couleurprinc, #610e4f);
$ombrepanel: var(--ombrepanel, #0e1519);
$couleurcopy: var(--couleurcopy, #fccdf2);
$bordinput_norm: var(--bordinput_norm);
$bordinput_hover: var(--bordinput_hover);
.initpwd {
	grid-template-rows: auto auto auto 1fr;
	gap: 7px;
	.zoneinfo {
		line-height: 20px;
		padding: 10px;
	}
	.zoneform {
		padding: 0 25px;
		gap: 10px;
		.zonesaisie {
			gap: 15px;
			.grdata {
				padding: 5px 10px;
				border-radius: 5px;
				background-color: #fff;
				transition: 0.3s;
				align-items: center;
				gap: 15px;
				border: $bordinput_norm;
				grid-template-columns: auto 1fr auto;
				&:hover {
					border: $bordinput_hover;
				}

				&:focus-within {
					box-shadow: 0 0 25px #0e151944;
					border: $bordinput_hover;
				}
				input {
					border: none;
					background-color: transparent;

					&:focus {
						border: none;
					}
				}
				img {
					width: 20px;
				}
				#cb_onoff1,
				#cb_onoff2 {
					display: none;
				}
				#img_on1,
				#img_on2 {
					display: block;
				}
				#img_off1,
				#img_off2 {
					display: none;
				}
				#lab_cb1,
				#lab_cb2 {
					cursor: pointer;
				}
				#cb_onoff1 {
					&:checked ~ #lab_cb1 {
						#img_on1 {
							display: none;
						}
						#img_off1 {
							display: block;
						}
					}
				}
				#cb_onoff2 {
					&:checked ~ #lab_cb2 {
						#img_on2 {
							display: none;
						}
						#img_off2 {
							display: block;
						}
					}
				}
			}

			.zoneotp {
				grid-template-columns: repeat(6, 1fr);
				align-items: start;
				gap: 5px;
				.otp-input {
					width: 40px;
					width: 40px;
					border: 1px solid #ccc;
					text-align: center;
				}
			}
			.zonebtn {
				align-items: center;
				grid-auto-flow: column;
				gap: 10px;
				margin-top: 7px;

				.btnappli {
					padding: 0 15px;
				}
			}
			.renvoiotp {
				text-align: right;
				justify-self: right;
				cursor: pointer;
				color: blue;
				text-decoration: underline;
			}
		}
	}
}
