@import url("styles.css");
$couleurprinc: var(--couleurprinc, #610e4f);
$ombrepanel: var(--ombrepanel, #0e1519);
$couleurcopy: var(--couleurcopy, #fccdf2);
$bordinput_norm: var(--bordinput_norm, #ddd);
$bordinput_hover: var(--bordinput_hover, #ca1667);

.listedevis {
	z-index: 9;
	height: auto;
	max-height: 70vh;
	width: 90%;
	border: $bordinput_norm;
	border-radius: 10px;
	margin: 25px auto;
	font-size: 20px;
	padding: 25px;
	grid-template-rows: auto 1fr;
	gap: 40px;
	background-color: #fff;
	box-shadow: 0 0 25px #132f4b3a;
	.titrepage {
		align-items: center;
		grid-auto-flow: column;
		position: relative;
		span {
			font-size: 18pt;
		}
		.closeliste {
			right: -40px;
			top: -40px;
			background-color: #fff;
			height: 35px;
			aspect-ratio: 1;
			border-radius: 50%;
			place-items: center;
			cursor: pointer;
			box-shadow: 0 0 5px #aaa;
			transition: 0.5s;
			border: 2px solid #fff;
			&:hover {
				border: none;
				background-color: $couleurprinc;
				color: #fff;
			}
			position: absolute;
		}
		.btnappli {
			padding: 0 25px;
			justify-self: right;
		}
	}
	.tablist {
		grid-template-rows: auto 1fr 40px;
		align-content: start;
		padding: 15px;
		border-radius: 10px;
		border: $bordinput_norm;
		overflow: hidden;
		.headlist {
			align-items: center;
			grid-auto-flow: column;
			border-bottom: $bordinput_norm;
			font-size: 14px;
			.colhead {
				position: relative;
				padding: 5px 15px;
				cursor: pointer;
				font-weight: 550;
				&::first-letter {
					text-transform: uppercase;
				}
				&:not(:first-child) {
					border-left: 1px dotted #ddd;
				}
				&::after {
					right: 5px;
					position: absolute;
					content: "\2B06";
					font-size: 1.5em;
					font-weight: normal;
					transform: translateY(-4px);
					color: #999;
					display: none;
				}
				&:hover {
					&::after {
						display: block;
					}
				}
			}
			.headaction {
				text-align: center;
			}
		}
		.headlist,
		.datarow {
			gap: 5px;
			align-items: center;
			grid-template-columns: 100px 100px 2fr 2fr 120px 120px 100px 130px;
			.colhead,
			.coldata {
				padding: 5px 10px;
				font-size: 13px;
				white-space: nowrap;
				&:last-child {
					text-align: center;
				}
				&:nth-child(1),
				&:nth-child(7) {
					text-align: center;
				}
				&:nth-child(2) {
					text-align: center;
				}
				&:nth-child(5),
				&:nth-child(6) {
					text-align: right;
				}
			}
		}
		.bodylist {
			gap: 10px;
			font-size: 11.5pt;
			align-content: start;
			overflow: auto;
			overflow: hidden;
			overflow-y: auto;
			padding-top: 18px;
			.datarow {
				border-bottom: $bordinput_norm;
				padding: 5px 0;
				&:hover {
					.colaction .action {
						display: block;
					}
				}
				.valide {
					color: #ca1667;
					font-weight: bold;
				}
				.coldata {
					font-size: 11.5pt;
					&::first-letter {
						text-transform: uppercase;
					}
					text-overflow: ellipsis;
				}
				.colaction {
					align-items: center;
					gap: 5px;
					grid-auto-flow: column;
					justify-content: right;
					width: auto;
					padding: 0 15px;
					.action {
						position: relative;
						z-index: 3;
						display: none;
						img {
							width: 20px;
						}
						cursor: pointer;
						filter: none;
						&::after {
							z-index: 5;
							position: absolute;
							content: attr(data-action);
							padding: 5px 20px;
							background-color: #123;
							color: #fff;
							top: -25px;
							right: 0;
							display: none;
							border-radius: 5px;
							font-size: 0.9em;
							place-items: center;
							white-space: nowrap;
						}
						&:hover {
							&::after {
								display: grid;
							}
						}
					}
				}
			}
		}
		.footerlist {
			justify-content: right;
			align-items: end;
			grid-auto-flow: column;
			// border-top: 2px solid $couleurcopy;
			box-shadow: 0 -12px 12px -12px #aaa;
			gap: 5px;
			padding: 0 10px;
			color: $couleurprinc;
		}
	}
}
.modal {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: #16222992;
	position: fixed;
	inset: 0;
	z-index: 100;
	place-items: center;
	overflow: hidden;
}
.modalfiche {
	.fiche {
		position: absolute;
		background-color: #fff;
		border-radius: 10px;
		padding: 5px 15px;
		overflow: hidden;
		max-height: 90vh;
		transition: 0.5s;
		grid-template-rows: auto 1fr auto;
		align-content: start;
		.codetable {
			width: 80px;
		}
		.zonetitre {
			padding: 7px 15px;
			font-size: 13pt;
			box-shadow: 0 6px 6px -6px #aaa;
		}
		.zonecorps {
			align-content: start;
			padding: 10px 5px;
			gap: 15px;
			overflow-y: auto;
			.section {
				padding: 15px;
				grid-auto-flow: column;
				gap: 25px;
				.grdata {
					align-items: center;
					white-space: nowrap;
					gap: 10px 15px;
				}
			}
		}
		.zonebtn {
			align-items: center;
			padding: 0 25px;
			grid-auto-flow: column;
			box-shadow: 0 -6px 6px -6px #aaa;
			padding: 10px 25px;
			.btnappli {
				width: 170px;
				padding: 10px 25px !important;
				&:last-child {
					justify-self: right;
				}
			}
		}
	}
}
.modalconfirmation {
	@keyframes anim01 {
		0% {
			transform: scale(2);
		}

		100% {
			transform: scale(1);
		}
	}
	.confirmation {
		top: 75px;
		position: absolute;
		height: 300px;
		width: 600px;
		background-color: #fff;
		grid-template-rows: auto 1fr auto;
		animation: anim01 0.3s ease-in-out 0.1s 1 normal forwards;
		transform: scale(0);
		.titreconfirmation {
			padding: 15px 25px;
			grid-template-columns: 1fr auto;
			align-items: center;
			background-color: $couleurprinc;
			color: #fff;

			> div {
				font-size: 1.2em;
			}
			.btnclose {
				cursor: pointer;
				color: #aaa;
				&:hover {
					color: #fff;
				}
			}
		}
		.corpsconfirmation {
			padding: 15px;
			gap: 25px;
			text-align: center;
			align-content: center;
			.messageconfirm {
				text-align: center;
			}
			.dataconfirm {
				text-align: center;
				color: $couleurprinc;
				font-weight: bold;
				font-size: 1.3em;
			}
		}
		.piedconfirmation {
			align-items: center;
			padding: 15px;
			// background-color: $couleurcopy;
			grid-auto-flow: column;
			justify-items: center;
			.btnappli {
				padding: 0 30px;
				height: 35px !important;
			}
		}
	}
}
.modalprint {
	grid-template-rows: auto 1fr;
	gap: 5px;

	.zoneparam {
		gap: 5px;
		padding: 10px 45px;
		background-color: #fff;
		width: 100%;
		position: relative;
		.closeprint {
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 1.4em;
			color: #666;
			cursor: pointer;
			&:hover {
				color: #000;
			}
		}
		.zonebtnprint {
			padding: 10px 25px;
			grid-auto-flow: column;
			align-items: center;
			justify-content: space-around;
			.btnappli {
				width: 170px;
			}
		}
	}
	.zonepreview {
		width: 100%;
		height: 100%;
		background-color: #434446c5;
		justify-items: center;
		overflow: hidden;
		overflow-y: auto;
		position: relative;
	}
}
