<section class="custom-select">
    <div class="cs-zonefiltre">
        <img src="assets/icones/iconepage/loupe.png">
        <input class="cs-filtre"></input>
        <span class="cs-clearfiltre">&#10005;</span>
    </div>
    <div class="cs-liste">
    </div>
</section>
<script>
  $(()=>{

  })
  
</script>