<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/index.css'>
    <script src='jquery-3.6.1.min.js'></script>
</head>

<body>
    <section class="index">
        <section class="zoneconnexion">
            <section class="zonecorps">
                <%- include(page, info) %>
            </section>
            <div class="zonemessage"></div>
            <div class="zonelogo">
                <img src="assets/images/GAZ-B12.jpg" alt="">
            </div>
        </section>
        <div class="copyright">Application Distrigaz version 1.0 - KALITOPE &#169; 2023-2025. Tous droits
            réservés.</div>
    </section>
</body>

</html>