@import url("styles.css");
.fichefinance {
  width: 50vw;
  height: auto;
  overflow: hidden;
  transform: translateY(-20px);
  gap: 25px;
}
.fichefinance .zonetitre {
  grid-template-columns: 1fr auto;
  align-items: center;
}
.fichefinance .zonetitre .titrepage {
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-size: 1.05em;
}
.fichefinance .zonetitre .titrepage .titre {
  font-size: inherit;
}
.fichefinance .zonetitre .closefiche {
  font-size: 1.05em;
  cursor: pointer;
}
.fichefinance .zonetitre .closefiche:hover {
  color: red;
}
.fichefinance .zonecorps {
  grid-template-columns: 3fr 1.2fr;
  gap: 25px !important;
}
.fichefinance .zonecorps .zonesaisie,
.fichefinance .zonecorps .infoclient {
  border-radius: 5px;
}
.fichefinance .zonecorps .zone {
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid var(--couleur_bordcadre);
}
.fichefinance .zonecorps .zonesaisie {
  align-content: start;
  gap: 20px;
  padding: 15px;
}
.fichefinance .zonecorps .zonesaisie .section1 {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}
.fichefinance .zonecorps .zonesaisie .section2 {
  padding: 0 !important;
  grid-template-columns: 1.5fr 1fr;
  gap: 5px;
  align-content: start;
}
.fichefinance .zonecorps .zonesaisie .section2 .grdata {
  gap: 7px !important;
  padding: 10px;
}
.fichefinance .zonecorps .zonesaisie .section3 {
  gap: 15px;
}
.fichefinance .zonecorps .zonesaisie .section3 .grdata {
  grid-template-columns: 100px 1fr;
  gap: 10px;
  align-items: center;
}
.fichefinance .zonecorps .zonesaisie .section3 .grdata #montant {
  width: 200px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}
.fichefinance .zonecorps .zonesaisie .section3 .grdata #libop {
  height: 50px;
  padding: 10px;
}
.fichefinance .zonecorps .zoneinfo {
  justify-items: center;
  padding: 10px;
}
.fichefinance .zonecorps .zoneinfo .zonechiffre {
  align-content: flex-start;
  gap: 15px;
  padding: 15px;
  width: 100%;
}
.fichefinance .zonecorps .zoneinfo .zonechiffre .grdata {
  gap: 10px;
}
.fichefinance .zonecorps .zoneinfo .zonechiffre .grdata span {
  height: 35px;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  min-width: 5vw;
  line-height: 35px;
  border: 1px solid var(--couleur_bordnorm);
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.2588235294);
}
.fichefinance .zonecorps .zoneinfo .zonechiffre .grdata #payetotal {
  background-color: #65f165;
}
.fichefinance .zonecorps .zoneinfo .zonechiffre .grdata #avoirtotal {
  background-color: #f15d87;
}
.fichefinance .zonecorps .zoneinfo .zonechiffre .grdata #soldeclient {
  background-color: #062e5e;
  color: #fff !important;
}
.fichefinance .zonecorps .zoneinfo .zonechiffre .grdata #seuilcommande {
  background-color: maroon;
  color: #fff;
}