@import url("styles.css");
.ficheentreestock {
  width: min(100vw, 1000px);
  height: min(99vh, 900px) !important;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}
.ficheentreestock * {
  user-select: none;
}
.ficheentreestock .zonetitre {
  grid-template-columns: 1fr auto;
  align-items: center;
}
.ficheentreestock .zonetitre .titrepage {
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  gap: 5px;
  font-size: 1.05em;
}
.ficheentreestock .zonetitre .titrepage .titre {
  font-size: inherit;
}
.ficheentreestock .zonetitre .closefiche {
  font-size: 1.05em;
  cursor: pointer;
}
.ficheentreestock .zonetitre .closefiche:hover {
  color: red;
}
.ficheentreestock .zonecorps {
  align-content: start;
  overflow: hidden;
  grid-template-rows: auto 1fr 60px;
}
.ficheentreestock .zonecorps .entfiche {
  grid-template-columns: 3.5fr 1fr;
  align-content: start;
}
.ficheentreestock .zonecorps .entfiche .section {
  align-content: start;
  padding: 10px;
}
.ficheentreestock .zonecorps .entfiche .section1 {
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr;
}
.ficheentreestock .zonecorps .entfiche .section1 .grdata {
  gap: 15px !important;
}
.ficheentreestock .zonecorps .entfiche .section1 .zonedepot {
  grid-template-columns: auto 1fr;
  font-size: 1.2em;
}
.ficheentreestock .zonecorps .entfiche .section1 .zoneobjet #objetentreestock {
  height: 50px;
  font-size: 1.4em;
  color: var(--couleur_texte);
  overflow: hidden;
  font-weight: bold;
}
.ficheentreestock .zonecorps .entfiche .section2 {
  grid-template-rows: 1fr 1fr 2fr;
  gap: 10px !important;
  padding: 10px;
}
.ficheentreestock .zonecorps .entfiche .section2 #tvacb {
  display: none;
}
.ficheentreestock .zonecorps .entfiche .section2 .grsec {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonenum {
  justify-items: right;
  grid-template-columns: auto auto;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonedate {
  grid-template-columns: auto 1fr;
  align-items: center;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva {
  grid-template-columns: 1fr !important;
  grid-template-rows: auto 1fr;
  height: 100%;
  text-align: center;
  align-content: center;
  padding: 5px;
  justify-items: right;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva {
  justify-self: right;
  width: auto;
  justify-items: center;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #tvacb:checked ~ #labeltva::before, .ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #tvacb:checked ~ #labeltva::after {
  transform: translateX(-100%);
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #labeltva {
  border-radius: 7px;
  height: 25px;
  background-color: var(--couleur_texte);
  overflow: hidden;
  width: 75px;
  border: 1px solid var(--couleur_bordnorm);
  position: relative;
  cursor: not-allowed;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #labeltva:before {
  display: grid;
  place-content: center;
  transition: 0.3s;
  position: absolute;
  color: #fff;
  content: "Non";
  left: 0;
  width: 75%;
  height: 100%;
  background-color: #666;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #labeltva:after {
  color: #fff;
  display: grid;
  place-content: center;
  transition: 0.3s;
  position: absolute;
  content: "oui";
  left: 100%;
  width: 75%;
  height: 100%;
  background-color: #666;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #labeltva.actif {
  cursor: pointer;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #labeltva.actif::before {
  background-color: red !important;
}
.ficheentreestock .zonecorps .entfiche .section2 .zonetva .cadretva #labeltva.actif::after {
  background-color: green !important;
}
.ficheentreestock .zonecorps .tablist {
  padding-top: 5px;
  align-content: start;
  gap: 12px;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}
.ficheentreestock .zonecorps .tablist .headlist {
  box-shadow: 0 12px 12px -12px #8f8e8e, 0 -12px 12px -12px #8f8e8e;
  font-weight: bold;
  align-items: center;
}
.ficheentreestock .zonecorps .tablist .headlist .colhead {
  padding-right: 10px;
}
.ficheentreestock .zonecorps .tablist .headlist,
.ficheentreestock .zonecorps .tablist .datarow {
  grid-template-columns: 50px 1fr 150px 150px 200px 60px;
  padding: 10px;
  padding-right: 20px;
  gap: 10px;
}
.ficheentreestock .zonecorps .tablist .headlist .colhead,
.ficheentreestock .zonecorps .tablist .headlist .coldata,
.ficheentreestock .zonecorps .tablist .datarow .colhead,
.ficheentreestock .zonecorps .tablist .datarow .coldata {
  text-align: right;
}
.ficheentreestock .zonecorps .tablist .headlist .colhead:nth-child(1),
.ficheentreestock .zonecorps .tablist .headlist .coldata:nth-child(1),
.ficheentreestock .zonecorps .tablist .datarow .colhead:nth-child(1),
.ficheentreestock .zonecorps .tablist .datarow .coldata:nth-child(1) {
  text-align: center;
}
.ficheentreestock .zonecorps .tablist .headlist .colhead:nth-child(2),
.ficheentreestock .zonecorps .tablist .headlist .coldata:nth-child(2),
.ficheentreestock .zonecorps .tablist .datarow .colhead:nth-child(2),
.ficheentreestock .zonecorps .tablist .datarow .coldata:nth-child(2) {
  text-align: left;
}
.ficheentreestock .zonecorps .tablist .headlist .btnaddart,
.ficheentreestock .zonecorps .tablist .datarow .btnaddart {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  place-items: center;
  font-size: 1.4em;
  background-color: var(--fondnormal);
  color: #fff;
  cursor: pointer;
  justify-self: right;
  position: relative;
}
.ficheentreestock .zonecorps .tablist .headlist .btnaddart:disabled,
.ficheentreestock .zonecorps .tablist .datarow .btnaddart:disabled {
  background-color: #999;
  border: 1px solid var(--couleur_bordnorm);
  cursor: not-allowed;
}
.ficheentreestock .zonecorps .tablist .headlist .btnaddart::after,
.ficheentreestock .zonecorps .tablist .datarow .btnaddart::after {
  z-index: 5;
  position: absolute;
  content: "Ajouter un article";
  padding: 5px 20px;
  background-color: var(--couleur_texte);
  color: var(--couleur_fondcadre);
  border: 1px solid #fff;
  bottom: -30px;
  right: 0;
  display: none;
  border-radius: 5px;
  font-size: 12px;
  place-items: center;
  white-space: nowrap;
}
.ficheentreestock .zonecorps .tablist .headlist .btnaddart:hover::after,
.ficheentreestock .zonecorps .tablist .datarow .btnaddart:hover::after {
  display: grid;
}
.ficheentreestock .zonecorps .tablist .bodylist {
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 10px;
  align-content: start;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow {
  padding: 10px 0;
  border-bottom: 1px solid var(--couleur_bordnorm);
  align-content: start;
  gap: 10px;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .qteart,
.ficheentreestock .zonecorps .tablist .bodylist .datarow .puart {
  text-align: right;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .article,
.ficheentreestock .zonecorps .tablist .bodylist .datarow .montantht {
  border-radius: 5px;
  border: 1px solid var(--couleur_bordnorm);
  height: 40px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .montantht {
  border: 2px dotted var(--couleur_bordnorm) !important;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .coldata {
  align-items: center;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .coldata:first-child {
  font-size: 1.3em;
  font-weight: bold;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .colaction {
  place-items: center;
  text-align: center;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .colaction span {
  cursor: pointer;
  font-size: 1.5em;
}
.ficheentreestock .zonecorps .tablist .bodylist .datarow .colaction span:hover {
  color: red;
}
.ficheentreestock .piedfiche {
  z-index: 50;
  align-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  grid-template-columns: auto 1fr auto 2fr auto 2fr auto 2fr;
  border: 1px solid var(--couleur_bordcadre);
  border-radius: 10px;
}
.ficheentreestock .piedfiche .valeur {
  display: grid;
  align-content: center;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  text-align: right;
  font-size: 2em;
  padding-right: 10px;
  color: var(--fondnormal);
}
.ficheentreestock .piedfiche .valeur:last-child {
  font-weight: bold;
}
.ficheentreestock .piedfiche #totallig {
  text-align: center;
}