@import url("styles.css");
.fichecom {
  width: 50vw;
  height: auto;
  overflow: hidden;
  transform: translateY(-35%);
}
.fichecom .zonetitre {
  grid-template-columns: 1fr auto;
  align-items: center;
}
.fichecom .zonetitre .titrepage {
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-size: 1.05em;
}
.fichecom .zonetitre .titrepage .titre {
  font-size: inherit;
}
.fichecom .zonetitre .closefiche {
  font-size: 1.05em;
  cursor: pointer;
}
.fichecom .zonetitre .closefiche:hover {
  color: red;
}
.fichecom .zonecorps {
  align-content: start;
  grid-template-rows: auto auto 1fr;
  gap: 25px;
  padding: 30px 25px;
  overflow: hidden;
}
.fichecom .zonecorps input[type=date] {
  text-align: center;
}
.fichecom .zonecorps .section {
  box-shadow: 0 0 7px rgba(204, 204, 204, 0.7137254902);
}
.fichecom .zonecorps .section1 {
  grid-template-columns: auto 1fr;
}
.fichecom .zonecorps .section1 select {
  max-width: 250px;
}
.fichecom .zonecorps .section1 .grdata {
  grid-template-columns: auto 1fr;
  gap: 15px;
}
.fichecom .zonecorps .section2 {
  grid-template-columns: 150px 1fr 1.5fr;
}
.fichecom .zonecorps .section3 {
  grid-template-columns: 1fr 1fr;
}