@import url("styles.css");
.fichedevis {
  width: 60vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  transform: translateY(-25px);
}
.fichedevis * {
  user-select: none;
}
.fichedevis .newart {
  position: absolute;
  left: calc(50% - 70px);
  bottom: 10px;
  width: max-content;
  height: max-content;
  z-index: 500;
}
.fichedevis .newart .titre {
  cursor: move;
  padding: 15px;
  width: auto;
}
.fichedevis .newart .titre .corps {
  color: #fefefe;
  box-shadow: 0 0 25px rgba(50, 52, 51, 0.4235294118);
  padding: 10px 25px;
  cursor: pointer;
  background-color: var(--couleurprinc, #610e4f);
  border-radius: 5px;
  grid-template-columns: auto 1fr;
  gap: 10px;
  place-items: center;
}
.fichedevis .zonetitre {
  grid-template-columns: 1fr auto;
  align-items: center;
}
.fichedevis .zonetitre .titrepage {
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-size: 1.05em;
}
.fichedevis .zonetitre .titrepage .titre {
  font-size: inherit;
}
.fichedevis .zonetitre .titrepage .elcour {
  font-size: inherit;
  color: var(--couleurprinc, #610e4f);
  font-weight: bold;
}
.fichedevis .zonetitre .closefiche {
  font-size: 1.05em;
  cursor: pointer;
}
.fichedevis .zonetitre .closefiche:hover {
  color: red;
}
.fichedevis .zonecorps {
  align-content: start;
  grid-template-rows: auto auto 1fr;
  gap: 15px;
  overflow: hidden;
  grid-template-rows: auto 1fr 60px;
}
.fichedevis .zonecorps .entfiche {
  z-index: 200;
}
.fichedevis .zonecorps .entfiche .zonenumdevis {
  align-items: center;
  padding: 10px;
  background-color: #eee;
  justify-items: right;
  grid-template-columns: auto 80px;
}
.fichedevis .zonecorps .entfiche .zonenumdevis.actif {
  background-color: var(--couleurcopy, #fccdf2);
}
.fichedevis .zonecorps .entfiche .zonenumdevis span {
  font-size: 1.3em;
}
.fichedevis .zonecorps .entfiche .zonenumdevis #numdevis {
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.fichedevis .zonecorps .entfiche .section {
  padding: 10px 25px;
}
.fichedevis .zonecorps .entfiche .section div {
  align-items: center;
  align-content: center;
  gap: 5px;
}
.fichedevis .zonecorps .entfiche .section div input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.fichedevis .zonecorps .entfiche .section div #datedevis {
  width: 150px;
}
.fichedevis .zonecorps .entfiche .section1 {
  grid-template-columns: 1fr auto;
  gap: 20px;
}
.fichedevis .zonecorps .entfiche .section1 .zoneclient {
  width: 90%;
  grid-template-columns: auto 1fr !important;
}
.fichedevis .zonecorps .entfiche .section1 .zoneclient #listeclient {
  position: relative;
  font-size: 1.2em;
}
.fichedevis .zonecorps .entfiche .section1 .zonedate {
  justify-items: right;
  grid-auto-flow: column;
  align-items: center;
}
.fichedevis .zonecorps .entfiche .section2 {
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
}
.fichedevis .zonecorps .entfiche .section2 textarea {
  padding: 10px;
}
.fichedevis .zonecorps .entfiche .section2 .zonetva {
  align-content: end;
}
.fichedevis .zonecorps .entfiche .section2 .zonetva .cadretva {
  width: 80px;
  box-shadow: 0 0 7px rgba(102, 102, 102, 0.4117647059);
  border: 1px solid #fff;
  border-radius: 25px;
  height: 25px;
  position: relative;
  background-color: #ffffff;
}
.fichedevis .zonecorps .entfiche .section2 .zonetva .cadretva.actif {
  background-color: #fff;
}
.fichedevis .zonecorps .entfiche .section2 .zonetva .cadretva .tvaok {
  cursor: pointer;
  position: absolute;
  height: 90%;
  left: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: 0.25s;
  background-color: #999;
}
.fichedevis .zonecorps .entfiche .section2 .zonetva .cadretva #tvacb {
  display: none;
}
.fichedevis .zonecorps .entfiche .section2 .zonetva .cadretva #tvacb:disabled ~ .tvaok {
  cursor: not-allowed;
  background-color: #999;
}
.fichedevis .zonecorps .entfiche .section2 .zonetva .cadretva #tvacb:checked ~ .tvaok {
  background-color: green;
  transform: translateX(48px);
}
.fichedevis .zonecorps .entfiche .section2 .zonetva .cadretva #tvacb:checked:disabled ~ .tvaok {
  cursor: not-allowed;
  background-color: #999;
}
.fichedevis .zonecorps .entfiche .section2 .zoneobjet {
  grid-auto-flow: row;
}
.fichedevis .zonecorps .entfiche .section2 .zoneobjet #objetdevis {
  height: 50px;
  width: 90%;
  font-size: 1.4em;
  color: var(--couleurprinc, #610e4f);
}
.fichedevis .zonecorps .detailfiche {
  grid-template-rows: 40px 1fr;
  gap: 10px;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
}
.fichedevis .zonecorps .detailfiche .entarticle,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata {
  gap: 5px;
  grid-template-columns: 40px 50px 3fr 1fr 1fr 1fr 15px;
}
.fichedevis .zonecorps .detailfiche .entarticle .coldata,
.fichedevis .zonecorps .detailfiche .entarticle .colent,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .coldata,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colent {
  text-align: right;
}
.fichedevis .zonecorps .detailfiche .entarticle .coldata:nth-child(2),
.fichedevis .zonecorps .detailfiche .entarticle .colent:nth-child(2),
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .coldata:nth-child(2),
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colent:nth-child(2) {
  text-align: center;
}
.fichedevis .zonecorps .detailfiche .entarticle .coldata:nth-child(3),
.fichedevis .zonecorps .detailfiche .entarticle .colent:nth-child(3),
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .coldata:nth-child(3),
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colent:nth-child(3) {
  text-align: left;
}
.fichedevis .zonecorps .detailfiche .entarticle {
  background-color: #d4e8e4;
  color: #000;
  gap: 5px;
  align-content: center;
  padding: 0 10px;
  box-shadow: 0 12px 12px -12px #04201a;
  font-weight: bold;
}
.fichedevis .zonecorps .detailfiche .listearticle {
  align-content: start;
  overflow: hidden;
  overflow-y: scroll;
  gap: 5px;
  z-index: 100;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata {
  background-color: #fff;
  box-shadow: 0 7px 7px -7px #075c0b;
  padding: 5px;
  height: auto;
  gap: 10px;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata input {
  width: 100%;
  text-align: left;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata input[type=number] {
  text-align: right;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .coldata {
  position: relative;
  align-content: center;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colnum,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .btnsuppart {
  font-size: 1.4em;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .btnsuppart {
  cursor: pointer;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .btnsuppart:hover {
  color: #b1097f;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colart {
  gap: 7px;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colart .article {
  position: relative;
  left: 0;
  width: 100%;
  font-size: 15px;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colart .article::first-letter {
  text-transform: uppercase;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colart .descart {
  height: 80px;
  resize: none;
  overflow: hidden;
  padding: 10px;
  font-style: italic;
  font-size: 12px;
  overflow: auto;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colqte,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colpu,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colht {
  align-content: flex-start;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colqte span,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colqte input,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colpu span,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colpu input,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colht span,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colht input {
  font-size: 18px;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colqte .montantht,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colpu .montantht,
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .colht .montantht {
  border: 1px solid #ccc;
  height: 35px;
  padding: 0 10px;
  text-align: right;
  border-radius: 5px;
  background-color: whitesmoke;
  display: grid;
  align-content: center;
  text-align: right;
}
.fichedevis .zonecorps .detailfiche .listearticle .ligdata .puart::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.fichedevis .zonecorps .piedfiche {
  z-index: 50;
  background-color: rgba(161, 241, 241, 0.3215686275);
  align-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  grid-template-columns: auto 1fr auto 2fr auto 2fr auto 2fr;
  background-color: #b9d4d4;
}
.fichedevis .zonecorps .piedfiche .valeur {
  display: grid;
  align-content: center;
  width: 100%;
  height: 35px;
  box-shadow: -2px -2px 2px #ffffff inset;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  text-align: right;
  font-size: 2em;
  padding-right: 10px;
  background-color: #e6e4e4;
}
.fichedevis .zonecorps .piedfiche .valeur:last-child {
  font-weight: bold;
}
.fichedevis .zonecorps .piedfiche #totallig {
  text-align: center;
}