.initpwd {
  grid-template-rows: auto auto auto 1fr;
  gap: 7px;
}
.initpwd .zoneinfo {
  line-height: 20px;
  padding: 10px;
}
.initpwd .zoneform {
  padding: 0 25px;
  gap: 10px;
}
.initpwd .zoneform .zonesaisie {
  gap: 15px;
}
.initpwd .zoneform .zonesaisie .grdata {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
  align-items: center;
  gap: 15px;
  border: var(--bordinput_norm);
  grid-template-columns: auto 1fr auto;
}
.initpwd .zoneform .zonesaisie .grdata:hover {
  border: var(--bordinput_hover);
}
.initpwd .zoneform .zonesaisie .grdata:focus-within {
  box-shadow: 0 0 25px rgba(14, 21, 25, 0.2666666667);
  border: var(--bordinput_hover);
}
.initpwd .zoneform .zonesaisie .grdata input {
  border: none;
  background-color: transparent;
}
.initpwd .zoneform .zonesaisie .grdata input:focus {
  border: none;
}
.initpwd .zoneform .zonesaisie .grdata img {
  width: 20px;
}
.initpwd .zoneform .zonesaisie .grdata #cb_onoff1,
.initpwd .zoneform .zonesaisie .grdata #cb_onoff2 {
  display: none;
}
.initpwd .zoneform .zonesaisie .grdata #img_on1,
.initpwd .zoneform .zonesaisie .grdata #img_on2 {
  display: block;
}
.initpwd .zoneform .zonesaisie .grdata #img_off1,
.initpwd .zoneform .zonesaisie .grdata #img_off2 {
  display: none;
}
.initpwd .zoneform .zonesaisie .grdata #lab_cb1,
.initpwd .zoneform .zonesaisie .grdata #lab_cb2 {
  cursor: pointer;
}
.initpwd .zoneform .zonesaisie .grdata #cb_onoff1:checked ~ #lab_cb1 #img_on1 {
  display: none;
}
.initpwd .zoneform .zonesaisie .grdata #cb_onoff1:checked ~ #lab_cb1 #img_off1 {
  display: block;
}
.initpwd .zoneform .zonesaisie .grdata #cb_onoff2:checked ~ #lab_cb2 #img_on2 {
  display: none;
}
.initpwd .zoneform .zonesaisie .grdata #cb_onoff2:checked ~ #lab_cb2 #img_off2 {
  display: block;
}
.initpwd .zoneform .zonesaisie .zoneotp {
  grid-template-columns: repeat(6, 1fr);
  align-items: start;
  gap: 5px;
}
.initpwd .zoneform .zonesaisie .zoneotp .otp-input {
  width: 40px;
  width: 40px;
  border: 1px solid #ccc;
  text-align: center;
}
.initpwd .zoneform .zonesaisie .zonebtn {
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
  margin-top: 7px;
}
.initpwd .zoneform .zonesaisie .zonebtn .btnappli {
  padding: 0 15px;
}
.initpwd .zoneform .zonesaisie .renvoiotp {
  text-align: right;
  justify-self: right;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}