@charset "UTF-8";
@import url("styles.css");
.listeinventaire {
  height: 80vh;
  width: min(50vw, 800px);
  border: 3px solid var(--couleur_bordcadre);
  box-shadow: 0 0 25px var(--couleur_ombre);
  background-color: var(--couleur_fondcadre);
  border-radius: 10px;
  font-size: 20px;
  padding: 25px;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  color: #eee;
  transform: translateY(-5vh);
  transition: 0.5s;
  z-index: 10;
}
.listeinventaire .titrepage {
  align-items: center;
  grid-auto-flow: column;
  position: relative;
}
.listeinventaire .titrepage .titre {
  font-size: 20px;
}
.listeinventaire .titrepage .closeliste {
  right: -40px;
  top: -40px;
  background-color: var(--couleur_texte);
  color: var(--couleur_fondcadre);
  height: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px #aaa;
  transition: 0.5s;
  border: 2px solid #fff;
  position: absolute;
}
.listeinventaire .titrepage .closeliste:hover {
  border: none;
  background-color: var(--fondnormal);
  color: #fff;
}
.listeinventaire .titrepage .btnappli {
  padding: 0 25px;
  justify-self: right;
}
.listeinventaire .zonefiltre {
  border-radius: 25px;
  width: 50%;
  padding: 5px 15px;
  border: 1px solid var(--couleur_bordnorm);
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.listeinventaire .zonefiltre img {
  width: 15px;
  filter: var(--filtre_img);
}
.listeinventaire .zonefiltre input {
  height: 25px !important;
  width: 100%;
  border: none !important;
}
.listeinventaire .zonefiltre #clearfilter {
  cursor: pointer;
  display: none;
}
.listeinventaire .tablist {
  grid-template-rows: auto 1fr 40px;
  align-content: start;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--couleur_bordnorm);
  overflow: hidden;
}
.listeinventaire .tablist .headlist {
  align-items: center;
  grid-auto-flow: column;
  border-bottom: 1px solid var(--couleur_bordnorm);
  font-size: 14px;
  padding-right: 10px;
}
.listeinventaire .tablist .headlist .colhead {
  position: relative;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 550;
}
.listeinventaire .tablist .headlist .colhead::first-letter {
  text-transform: uppercase;
}
.listeinventaire .tablist .headlist .colhead::after {
  right: 5px;
  position: absolute;
  content: "⬆";
  font-size: 1.5em;
  font-weight: normal;
  color: #999;
  display: none;
  animation: anime2 0.3s ease-in-out forwards;
}
.listeinventaire .tablist .headlist .colhead:hover::after {
  display: block;
}
.listeinventaire .tablist .headlist .headaction {
  text-align: center !important;
  justify-content: right !important;
}
.listeinventaire .tablist .headlist,
.listeinventaire .tablist .datarow {
  gap: 5px;
  align-items: center;
  grid-template-columns: 100px 1fr 80px 150px;
}
.listeinventaire .tablist .headlist .colhead,
.listeinventaire .tablist .headlist .coldata,
.listeinventaire .tablist .datarow .colhead,
.listeinventaire .tablist .datarow .coldata {
  padding: 5px 10px;
  font-size: 13px;
  white-space: nowrap;
}
.listeinventaire .tablist .headlist .colhead:nth-child(1), .listeinventaire .tablist .headlist .colhead:nth-child(3),
.listeinventaire .tablist .headlist .coldata:nth-child(1),
.listeinventaire .tablist .headlist .coldata:nth-child(3),
.listeinventaire .tablist .datarow .colhead:nth-child(1),
.listeinventaire .tablist .datarow .colhead:nth-child(3),
.listeinventaire .tablist .datarow .coldata:nth-child(1),
.listeinventaire .tablist .datarow .coldata:nth-child(3) {
  justify-content: center;
  text-align: center;
}
.listeinventaire .tablist .headlist .colaction,
.listeinventaire .tablist .datarow .colaction {
  justify-content: center;
  text-align: center;
}
.listeinventaire .tablist .bodylist {
  font-size: 11.5pt;
  align-content: start;
  overflow: auto;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 20px;
}
.listeinventaire .tablist .bodylist .datarow {
  border-top: 1px solid var(--couleur_bordnorm);
  padding: 5px 0;
  gap: 5px;
  cursor: pointer;
}
.listeinventaire .tablist .bodylist .datarow:hover .colaction .action {
  display: block;
}
.listeinventaire .tablist .bodylist .datarow .coldata {
  font-size: 11.5pt;
  text-overflow: ellipsis;
}
.listeinventaire .tablist .bodylist .datarow .coldata::first-letter {
  text-transform: uppercase;
}
.listeinventaire .tablist .bodylist .datarow .colaction {
  align-items: center;
  gap: 5px;
  grid-auto-flow: column;
  justify-content: right;
  width: auto;
  padding: 0 15px;
}
.listeinventaire .tablist .bodylist .datarow .colaction img {
  width: 20px;
  filter: var(--filtre_img);
}
.listeinventaire .tablist .bodylist .datarow .colaction .action {
  position: relative;
  display: none;
  z-index: 3;
  cursor: pointer;
  filter: none;
}
.listeinventaire .tablist .bodylist .datarow .colaction .action::after {
  z-index: 5;
  position: absolute;
  content: attr(data-action);
  padding: 5px 20px;
  background-color: var(--couleur_texte);
  color: var(--couleur_fondcadre);
  border: 1px solid #fff;
  top: -28px;
  right: 0;
  display: none;
  border-radius: 5px;
  font-size: 0.9em;
  place-items: center;
  white-space: nowrap;
}
.listeinventaire .tablist .bodylist .datarow .colaction .action:hover::after {
  display: grid;
}
.listeinventaire .tablist .footerlist {
  justify-content: right;
  align-items: end;
  grid-auto-flow: column;
  box-shadow: 0 -12px 12px -12px #aaa;
  gap: 5px;
  padding: 0 10px;
  color: var(--couleur_texte);
}

.modalfiche {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7882352941);
  position: fixed;
  inset: 0;
  z-index: 10;
  place-items: center;
  overflow: hidden;
  padding: 5px;
}
.modalfiche .fiche {
  border-radius: 10px;
  padding: 5px 15px;
  overflow: hidden;
  transition: 0.5s;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  box-shadow: 0 0 25px var(--couleur_ombre);
  border: 3px solid var(--couleur_bordcadre);
  background-color: var(--couleur_fondcadre);
  min-height: 35vh;
}
.modalfiche .fiche .codetable {
  width: 80px;
}
.modalfiche .fiche .zonetitre {
  padding: 7px 15px;
  font-size: 13pt;
  box-shadow: 0 6px 6px -6px #aaa;
}
.modalfiche .fiche .zonetitre .titre {
  color: var(--couleur_texte);
}
.modalfiche .fiche .zonetitre .elcour {
  font-size: inherit;
  color: var(--fondnormal);
  font-weight: bold;
}
.modalfiche .fiche input {
  background-color: transparent;
  color: var(--couleur_texte);
}
.modalfiche .fiche .zonecorps {
  align-content: start;
  overflow-y: auto;
  color: var(--couleur_texte);
}
.modalfiche .fiche .zonecorps .section {
  grid-auto-flow: column;
  align-items: center;
}
.modalfiche .fiche .zonecorps .section .grdata {
  align-items: center;
  white-space: nowrap;
  gap: 10px 15px;
}
.modalfiche .fiche .zonebtn {
  align-items: center;
  padding: 0 25px;
  grid-auto-flow: column;
  box-shadow: 0 -6px 6px -6px #aaa;
  padding: 10px 25px;
}
.modalfiche .fiche .zonebtn .btnappli {
  width: 170px;
  padding: 10px 25px !important;
}
.modalfiche .fiche .zonebtn .btnappli:last-child {
  justify-self: right;
}

.modalconfirmation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 21;
  background-color: rgba(14, 21, 25, 0.4117647059);
  justify-items: center;
  padding-top: 75px;
  display: none;
}
@keyframes anim01 {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.modalconfirmation .confirmation {
  top: 75px;
  position: absolute;
  height: 300px;
  width: 600px;
  background-color: var(--couleur_texte);
  grid-template-rows: auto 1fr auto;
  animation: anim01 0.3s ease-in-out 0.1s 1 normal forwards;
  transform: scale(0);
}
.modalconfirmation .confirmation .titreconfirmation {
  padding: 15px 25px;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--fondnormal);
}
.modalconfirmation .confirmation .titreconfirmation .titre {
  color: #fff;
  font-size: 1.2em;
}
.modalconfirmation .confirmation .titreconfirmation .btnclose {
  cursor: pointer;
  color: #aaa;
}
.modalconfirmation .confirmation .titreconfirmation .btnclose:hover {
  color: #fff;
}
.modalconfirmation .confirmation .corpsconfirmation {
  padding: 15px;
  gap: 25px;
  text-align: center;
  align-content: center;
}
.modalconfirmation .confirmation .corpsconfirmation .message {
  text-align: center;
  color: var(--couleur_fondcadre) !important;
}
.modalconfirmation .confirmation .corpsconfirmation .dataconfirm {
  text-align: center;
  color: var(--fondnormal);
  font-weight: bold;
  font-size: 1.3em;
}
.modalconfirmation .confirmation .piedconfirmation {
  align-items: center;
  padding: 15px;
  grid-auto-flow: column;
  justify-items: center;
}
.modalconfirmation .confirmation .piedconfirmation .btnappli {
  padding: 0 30px;
  height: 35px !important;
}