.newpassword {
  padding: 0 25px;
  align-content: center;
  gap: 25px;
  grid-template-rows: 100px 1fr 60px;
}
.newpassword .zoneinfo {
  align-content: start;
  gap: 10px;
}
.newpassword .zoneinfo #infoagent {
  font-size: 18px !important;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
}
.newpassword .zoneinfo .info {
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
}
.newpassword .grdata {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
  align-items: center;
  gap: 15px;
  border: var(--bordinput_norm);
  grid-template-columns: auto 1fr auto;
}
.newpassword .grdata:hover {
  border: var(--bordinput_hover);
}
.newpassword .grdata:focus-within {
  box-shadow: 0 0 25px rgba(14, 21, 25, 0.2666666667);
  border: var(--bordinput_hover);
}
.newpassword .grdata input {
  border: none;
  background-color: transparent;
}
.newpassword .grdata input:focus {
  border: none;
}
.newpassword .grdata img {
  width: 20px;
}
.newpassword .grdata #cb_onoff {
  display: none;
}
.newpassword .grdata #img_on {
  display: block;
}
.newpassword .grdata #img_off {
  display: none;
}
.newpassword .grdata #lab_cb {
  cursor: pointer;
}
.newpassword .grdata #cb_onoff:checked ~ #lab_cb #img_on {
  display: none;
}
.newpassword .grdata #cb_onoff:checked ~ #lab_cb #img_off {
  display: block;
}
.newpassword .zonebtn {
  padding: 15px;
  place-items: center;
  grid-auto-flow: column;
  align-items: center;
}
.newpassword .zonebtn .btnappli {
  width: 80%;
}