<link rel="stylesheet" href="css/fiche_commande.css">
<script src="js/fiches/fiche_commande.js"></script>


<section class="fiche fichecommande">
    <section class="zonetitre">
        <section class="titrepage">
            <div class="titre"></div>
            <div class="elcour"></div>
        </section>
        <span class="closefiche">&#10005;</span>
    </section>
    <section class="zonecorps">
        <section class="listearticle">
            <section class="enttab">
                <div class="coldata colart">Article</div>
                <div class="coldata">Qté</div>
                <div class="coldata">Prix unit.</div>
                <div class="coldata">Montant</div>
                <div class="coldata">Statut</div>
                <div class="coldata">Action</div>
            </section>
            <section class="detailtab"></section>
        </section>

    </section>
    <div class="zonebtn">
        <button class="btnappli" id="btnannul">Annuler</button>
        <button class="btnappli" id="btnenr" disabled>Enregistrer</button>
    </div>
</section>