<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Web Bulletin | Gestion des agents </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/fiche_agent.css'>
    <!-- <script src='js/fiche_agent.js'></script> -->
</head>

<body>
    <section class="ficheagent fiche" id="agent">
        <section class="grzone zonefiche">
            <section class="zonenew">
                <button class="btnappli" id="btnnew">Nouvel agent</button>
            </section>
            <section class="zoneform">
                <section class="lig lig1">
                    <div class="grdata">
                        <label for="">Login</label>
                        <input type="text" class="codetable" id="loginagent" disabled>
                    </div>
                    <div class="grdata">
                        <label for="">Matricule</label>
                        <input type="text" id="matragent" autocomplete="off">
                    </div>
                    <div class="grdata">
                        <label class="requis" for="">Profil</label>
                        <select name="" id="listeprofil">
                        </select>
                    </div>
                </section>
                <section class="lig lig2">
                    <div class="grdata">
                        <label class="requis" for="">Civilité</label>
                        <select name="" id="listecivilite">
                            <option value="1">M.</option>
                            <option value="2">Mme</option>
                            <option value="3">Mlle</option>
                        </select>
                    </div>
                    <div class="grdata">
                        <label class="requis" for="">Nom</label>
                        <input type="text" id="nomagent" autocomplete="off">
                    </div>
                    <div class="grdata">
                        <label class="requis" for="">Prénoms</label>
                        <input type="text" id="prenomagent" autocomplete="off">
                    </div>
                </section>
                <section class="lig lig3">
                    <div class="grdata">
                        <label class="requis" for="">Service</label>
                        <select name="" id="listeservice">
                        </select>
                    </div>
                    <div class="grdata">
                        <label for="">Fonction</label>
                        <input type="text" name="" id="fonctionagent" autocomplete="off">
                    </div>
                    <div class="grdata">
                        <label class="requis" for="">Date d'embauche</label>
                        <input type="date" name="" id="dateemb">
                    </div>
                </section>
                <section class="lig lig4">
                    <div class="grdata">
                        <label for="">Date de naissance</label>
                        <input type="date" id="datenais" autocomplete="off">
                    </div>
                    <div class="grdata">
                        <label class="requis" for="">Email</label>
                        <input type="email" name="" id="emailagent" autocomplete="off">
                    </div>
                    <div class="grdata">
                        <label for="">Téléphone</label>
                        <input type="text" name="" id="telagent" autocomplete="off">
                    </div>
                </section>
            </section>
            <section class="zonebtn">
                <button class="btnaction" disabled id="btnannul">Annuler</button>
                <button class="btnaction" disabled id="btnenr">Enregistrer</button>
            </section>

        </section>
    </section>
</body>

</html>