<link rel="stylesheet" href="css/fiche_depot.css">
<script src="js/fiches/fiche_depot.js"></script>

<script>
    var infoFiche = <%- JSON.stringify(infoFiche) %>;
</script>

<section class="fiche fichedepot">
    <section class="zonetitre">
        <section class="titrepage">
            <div class="titre"></div>
            <div class="elcour"></div>
        </section>
        <span class="closefiche">&#10005;</span>
    </section>
    <section class="zonecorps">
        <section class="section section1">
            <div class="grdata">
                <label for="">Code</label>
                <input type="text" class="codetable" id="codedep" disabled>
            </div>
            <div class="grdata">
                <label class="requis" for="">Libellé</label>
                <input type="text" id="libdep" autocomplete="off">
            </div>
        </section>
        <section class="section section2">
            <div class="grdata">
                <label class="requis" for="">Ville</label>
                <select name="" id="listeville">
                    </select>
            </div>
            <div class="grdata">
                <label for="">Dépôt lié</label>
                <select name="" id="listedepot">
                    </select>
            </div>
        </section>
    </section>
    <div class="zonebtn">
        <button class="btnappli" id="btnannul">Annuler</button>
        <button class="btnappli" id="btnenr" disabled>Enregistrer</button>
    </div>
</section>