@import url("styles.css");
$couleurprinc: var(--couleurprinc, #610e4f);
$ombrepanel: var(--ombrepanel, #0e1519);
$couleurcopy: var(--couleurcopy, #fccdf2);
$bordinput_norm: var(--bordinput_norm);
$bordinput_hover: var(--bordinput_hover);

.fichedevis {
	width: 60vw;
	height: 80vh;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	transform: translateY(-25px);
	* {
		user-select: none;
	}
	// transform: translateY(-5%);
	.newart {
		position: absolute;
		left: calc(50% - 70px);
		bottom: 10px;
		width: max-content;
		height: max-content;
		z-index: 500;
		.titre {
			cursor: move;
			padding: 15px;
			width: auto;
			.corps {
				color: #fefefe;
				box-shadow: 0 0 25px #3234336c;
				padding: 10px 25px;
				cursor: pointer;
				background-color: $couleurprinc;
				border-radius: 5px;
				grid-template-columns: auto 1fr;
				gap: 10px;
				place-items: center;
			}
		}
	}
	.zonetitre {
		grid-template-columns: 1fr auto;
		align-items: center;
		.titrepage {
			grid-template-columns: auto auto;
			justify-content: left;
			align-items: center;
			gap: 10px;
			font-size: 1.05em;

			.titre {
				font-size: inherit;
			}
			.elcour {
				font-size: inherit;
				color: $couleurprinc;
				font-weight: bold;
			}
		}
		.closefiche {
			font-size: 1.05em;
			cursor: pointer;
			&:hover {
				color: red;
			}
		}
	}
	.zonecorps {
		align-content: start;
		grid-template-rows: auto auto 1fr;
		gap: 15px;
		overflow: hidden;
		grid-template-rows: auto 1fr 60px;
		.entfiche {
			z-index: 200;
			.zonenumdevis {
				align-items: center;
				padding: 10px;
				background-color: #eee;
				&.actif {
					background-color: $couleurcopy;
				}
				justify-items: right;
				grid-template-columns: auto 80px;
				span {
					font-size: 1.3em;
				}
				#numdevis {
					font-weight: bold;
					text-align: center;
					width: 100%;
				}
			}
			.section {
				padding: 10px 25px;
				div {
					input[type="checkbox"] {
						width: 15px;
						height: 15px;
					}
					align-items: center;
					align-content: center;
					gap: 5px;
					#datedevis {
						width: 150px;
					}
				}
			}
			.section1 {
				grid-template-columns: 1fr auto;
				gap: 20px;
				.zoneclient {
					width: 90%;
					grid-template-columns: auto 1fr !important;
					#listeclient {
						position: relative;
						font-size: 1.2em;
					}
				}
				.zonedate {
					justify-items: right;
					grid-auto-flow: column;
					align-items: center;
				}
			}
			.section2 {
				grid-template-columns: 1fr auto;
				align-content: center;
				align-items: center;
				textarea {
					padding: 10px;
				}
				.zonetva {
					align-content: end;
					.cadretva {
						width: 80px;
						box-shadow: 0 0 7px #66666669;
						border: 1px solid #fff;
						border-radius: 25px;
						height: 25px;
						position: relative;
						background-color: #ffffff;
						&.actif {
							background-color: #fff;
						}
						.tvaok {
							cursor: pointer;
							position: absolute;
							height: 90%;
							left: 5px;
							aspect-ratio: 1;
							border-radius: 50%;
							border: 1px solid #ccc;
							transition: 0.25s;
							background-color: #999;
						}
						#tvacb {
							display: none;
							&:disabled ~ .tvaok {
								cursor: not-allowed;
								background-color: #999;
							}
							&:checked {
								~ .tvaok {
									background-color: green;
									transform: translateX(48px);
								}
								&:disabled ~ .tvaok {
									cursor: not-allowed;
									background-color: #999;
								}
							}
						}
					}
				}
				.zoneobjet {
					grid-auto-flow: row;
					#objetdevis {
						height: 50px;
						width: 90%;
						font-size: 1.4em;
						color: $couleurprinc;
					}
				}
			}
		}
		.detailfiche {
			grid-template-rows: 40px 1fr;
			gap: 10px;
			overflow: hidden;
			background-color: #fff;
			z-index: 100;
			.entarticle,
			.listearticle .ligdata {
				gap: 5px;
				grid-template-columns: 40px 50px 3fr 1fr 1fr 1fr 15px;
				.coldata,
				.colent {
					text-align: right;
					&:nth-child(2) {
						text-align: center;
					}
					&:nth-child(3) {
						text-align: left;
					}
				}
			}
			.entarticle {
				background-color: #d4e8e4;
				color: #000;
				gap: 5px;
				align-content: center;
				padding: 0 10px;
				box-shadow: 0 12px 12px -12px #04201a;
				font-weight: bold;
			}
			.listearticle {
				align-content: start;
				overflow: hidden;
				overflow-y: scroll;
				gap: 5px;
				z-index: 100;
				.ligdata {
					background-color: #fff;
					box-shadow: 0 7px 7px -7px #075c0b;
					padding: 5px;
					height: auto;
					gap: 10px;
					input {
						width: 100%;
						text-align: left;
					}
					input[type="number"] {
						text-align: right;
					}

					.coldata {
						position: relative;
						align-content: center;
					}
					.colnum,
					.btnsuppart {
						font-size: 1.4em;
					}
					.btnsuppart {
						cursor: pointer;
						&:hover {
							color: #b1097f;
						}
					}
					.colart {
						gap: 7px;
						.article {
							position: relative;
							left: 0;
							width: 100%;
							font-size: 15px;
							&::first-letter {
								text-transform: uppercase;
							}
						}
						.descart {
							height: 80px;
							resize: none;
							overflow: hidden;
							padding: 10px;
							font-style: italic;
							font-size: 12px;
							overflow: auto;
						}
					}
					.colqte,
					.colpu,
					.colht {
						align-content: flex-start;
						span,
						input {
							font-size: 18px;
						}
						.montantht {
							border: 1px solid #ccc;
							height: 35px;
							padding: 0 10px;
							text-align: right;
							border-radius: 5px;
							background-color: whitesmoke;
							display: grid;
							align-content: center;
							text-align: right;
						}
					}
					.puart {
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
						}
					}
				}
			}
		}
		.piedfiche {
			z-index: 50;
			background-color: #a1f1f152;
			align-content: center;
			align-items: center;
			gap: 10px;
			padding: 0 10px;
			grid-template-columns: auto 1fr auto 2fr auto 2fr auto 2fr;
			background-color: #b9d4d4;
			.valeur {
				display: grid;
				align-content: center;
				width: 100%;
				height: 35px;
				box-shadow: -2px -2px 2px #ffffff inset;
				border: 1px solid #e2e2e2;
				border-radius: 5px;
				text-align: right;
				font-size: 2em;
				padding-right: 10px;
				background-color: #e6e4e4;
				&:last-child {
					font-weight: bold;
				}
			}
			#totallig {
				text-align: center;
			}
		}
	}
}
